.sendMessageToEmail {
    align-items: center;
    width: 100%;
    height: 90%;
    /*background-color: #343436;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    font-family: "PT Rubik", sans-serif;
    margin: 0 0 100px 0;
}

.buttonName {
    width: 100%;
    background-color: #38383B;
    margin: 0 0 20px 0;
}

.buttonEmail {
    width: 100%;
    background-color: #38383B;
    margin: 0 0 20px 0;
}

.buttonSubject {
    width: 100%;
    background-color: #38383B;
    margin: 0 0 20px 0;
}

.textAreaMessage {
    width: 100%;
    height: 100px;
    background-color: #38383B;
    color: white !important;
    border: none;
    padding: 10px !important;
    font-size: 1.3em;
    margin: 0 0 30px 0;
}

.sendMessage {
    width: 120px;
    background-color: #f3c26b;
    font-family: Download1, Areal, sans-serif;
    font-size: 1.5em;
}
@media screen and (max-width: 999px) {
    .sendMessage{
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .buttonName {
        width: 35%;
    }

    .buttonEmail {
        width: 35%;
    }
}