.sectionOne {
    width: 100%;
    font-family: PT Sans, Areal, sans-serif;
    /*background-image: url('../../../Files/Images/123.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sectionFive {
    /*background-image: inherit;*/
    background-color: #343436;
}

.title {
    background-color: #2F2F31;
    padding: 10px 100px;
}

.borderAround {
    padding: 20px;
    background-color: #575757;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.45), 0 15px 15px rgba(0, 0, 0, 0.45);
    /*position: relative;*/
}

.sectionOneDiv {
    background-color: #575757;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

/*.sectionOneDiv:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 340px;*/
/*    height: 360px;*/
/*    left: 10px;*/
/*    top: -20px;*/
/*    border: 6px solid #f3c26b;*/
/*    z-index: 5;*/
/*}*/


.myText {
    align-self: self-start;
    margin-bottom: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #ffffff;
}

.buttonCall {
    width: 280px;
    color: #222222 !important;
    /*border: 0.5px solid #ba986d !important;*/
    border-radius: 3px !important;
    margin-bottom: 20px;
    padding: 10px !important;
}

.buttonCall:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.30);
}

.message {
    width: 280px;
    font-family: 'Noto Sans', sans-serif;
    color: #222222 !important;
    border-radius: 3px !important;
    margin-bottom: 20px;
    padding: 10px !important;
    font-size: 1.1em;
}

.message:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.30);
}

.sendCall {
    background-color: #50707a !important;
    color: honeydew !important;
    border-radius: 0 !important;
    width: 220px !important;
}

.sendCall:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.30);
}

.changeButton {
    display: inline-block;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: all .3s ease;
    align-self: flex-end;
}

.changeButton .After {
    position: absolute;
    display: block;
    background-color: #f3c26b !important;
    transition: all .2s;
    font-family: Download1, Areal, sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    line-height: 25px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.30);
}

.changeButton .beFor {
    transform: translateZ(15px);
}

.changeButton .After {
    transform: rotateX(-90deg) translateZ(15px);
}

.changeButton:hover {
    transform: rotateX(90deg);
}

@media screen and (min-width: 800px) {
    .borderAround {
        /*margin-right: 150px;*/
        padding: 30px;
    }

    .sectionOne {
        justify-content: space-evenly;
    }

    .sectionOneDiv:before {
        width: 360px;
        height: 360px;
    }
}

@media screen and (min-width: 1920px) {
    .borderAround {
        /*margin-right: 200px;*/
    }

    .borderAround {
        padding: 30px;
    }

    .sectionOne {
        justify-content: space-evenly;
    }

    .sectionOneDiv:before {
        width: 460px;
        height: 400px;
    }

    .myText {
        font-size: 1.3em;
        margin-bottom: 30px;
    }

    .buttonCall {
        width: 380px;
    }

    .message {
        width: 380px;
        font-size: 1.5em;
    }
}