.Projects {
    width: 100%;
    height: auto;
    font-family: PT Sans, Areal, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(28,28,28,0.8);
    z-index: 1100;
}

.borderSectionFour {
    margin: 10px 10px 10px 10px;
    /*background-color: #cccccc;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
}

.headerProject {
    align-self: flex-start;
    width: 100%;
    /*background-color: #2D2E2E;*/
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mainProject {
    align-self: flex-start;
    /*background-color: #343436;*/
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.buttons {
    width: 100%;
    text-align: center;
    /*background-color: #2D2E2E;*/
    padding: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.buttonFilter {
    padding: 10px 20px;

    font-family: 'Noto Sans', Areal, sans-serif;
}

.buttonActive {
    background-color: #f3c26b;
    border-radius: 10px;
    font-family: 'Noto Sans', Areal, sans-serif;
    /*border-bottom: 2px solid #f3c26b;*/
    /*margin-bottom: 10px;*/
}

.buttonNotActive {

}

@media screen and (min-width: 795px) and (max-width: 1919px) {
    .Projects {
        /*height: 100vh;*/
        height: auto;
    }

    .headerProject {
        height: 20%;
    }

    .mainProject {
        height: auto;
    }

    .borderSectionFour {
        width: 1300px;
        /*height: 650px;*/
        height: auto;
    }
}

@media screen and (min-width: 1920px) {
    .Projects {
        /*height: 100vh;*/
        height: auto;
    }

    .borderSectionFour {
        width: 1700px;
        /*height: 800px;*/
        height: auto;
    }
}


.video_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

}

.video_bg > video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

@supports (object-fit: cover) {
    .video_bg > video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}