.sendMessageToEmail {
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: mediumslateblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    font-family: "PT Rubik",sans-serif;
}

.buttonName {
    width: 35%;
    background-color: #222222;
}

.buttonEmail {
    width: 35%;
    background-color: #222222;
}

.buttonSubject {
    width: 100%;
    background-color: #222222;
}

.buttonMessage {
    width: 100%;
    background-color: #222222;
}
.sendMessage{
    width: 25%;
    background-color: #ba986d;
}