.Skills {
    width: 100%;
    height: auto;
    font-family: PT Sans, Areal, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*background-color: #222222;*/
    background-color: #2D2E2E;
}

.borderSectionThree {
    margin: 10px 10px 10px 10px;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
}

.headerSkills {
    align-self: flex-start;
    width: 100%;
    background-color: #2D2E2E;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mainSkills {
    background-color: #2D2E2E;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    box-sizing: border-box;
    /*overflow: hidden;*/
}

@media screen and (min-width: 800px) and (max-width: 1919px) {
    .Skills {
        /*height: 100vh;*/
        height: auto;
    }
    .headerSkills{
        height: 20%;
    }
    .mainSkills{
        height: auto;
    }
    .borderSectionThree {
        width: 1300px;
        /*height: 650px;*/
        height: auto;
    }
}

@media screen and (min-width: 1920px) {
    .Skills {
        /*height: 100vh;*/
        height: auto;
    }

    .borderSectionThree {
        width: 1700px;
        /*height: 800px;*/
        height: auto;
    }
}