.sectionOne{
    width: 100%;
    font-family: PT Sans, Areal, sans-serif;
    background-image: url('../../../Files/Images/slide-bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.infoAboutMyself{
    background-color: #ba986d;
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}
.blokFoto{
    background-color: cadetblue;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.blokFoto img{
    transition: .5s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.blokFoto:hover img:nth-child(4){
    transform: translate(-50px, 50px);
    opacity: 1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.blokFoto:hover img:nth-child(3){
    transform: translate(-40px, 40px);
    opacity: 0.7;
    filter: brightness(0.6);
}
.blokFoto:hover img:nth-child(2){
    transform: translate(-25px, 25px);
    opacity: 0.4;
    filter: brightness(0.3);
}
.blokFoto:hover img:nth-child(1) {
    transform: translate(-10px, 10px);
    opacity: 0.2;
    filter: brightness(0.1);
}

.myFoto{
    width: 400px;
    position: absolute;
}

.myFoto:hover{
    /*transform: scale(1.03);*/
}
