.sectionOne{
    width: 100%;
    font-family: PT Sans, Areal, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sectionOneDiv{
    background-color: red;
    padding: 20px;
}
.sectionThree{
    background-color: rgb(28,28,28);
}