.header {
    background-color: grey;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.headerTop{
    position: fixed;
    z-index: 999;
    /*background-color: #1c1c1c80;*/
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 25px 25px 0 0;
}