.header {
    background-color: grey;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

    visibility: visible;
    position: static;
}

.headerTop {
    position: fixed;
    z-index: 1101;
    /*background-color: #1c1c1c80;*/
    width: 40%;

    right: 0;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: flex-end;*/

    padding: 25px 25px 0 0;
}

@media screen and (max-width: 800px) {
    .header {
        visibility: hidden;
        position: absolute;
    }
}