.ProjectItem {
    width: 300px;
    height: 300px;
    /*background-color: lightcoral;*/
    margin: 10px 0 10px 0;

    overflow: hidden;

    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.ProjectItem:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.45), 0 5px 5px rgba(0, 0, 0, 0.45);
}

.increase {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;


    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: blur(0);

}

.increase img {
    position: absolute;
    z-index: 10;
    height: 100%;

    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.increase:hover img {
    filter: /*blur(1px)*/ brightness(0.5);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.increase:hover .readMore {
    position: static;
    visibility: visible;
}

.AfterImage {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.AfterImage a {
    color: #ffffff;
    text-decoration: none;
}

/*.AfterImage span[data-descr] {*/
/*    position: relative;*/
/*    overflow: visible;*/
/*}*/

/*.AfterImage span[data-descr]:hover::after {*/
/*    content: attr(data-descr);*/
/*    position: fixed;*/
/*    left: 0;*/
/*    overflow: visible;*/
/*    !*min-width: 200px;*!*/
/*    !*border: 1px #ffff99 solid;*!*/
/*    border-radius: 10px;*/
/*    background-color: #2D2E2E;*/
/*    padding: 12px;*/
/*    color: #f3c26b;*/
/*    font-size: 1em;*/
/*    z-index: 1000;*/
/*}*/

.projectTitle {
    font-family: 'Noto Sans', Areal, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.SeeIt {
    padding: 5px 40px;
    background-color: rgba(47, 47, 49, 0.7);
    font-size: 1.8em;
    font-weight: bold;
    font-family: Download1, Areal, sans-serif;
    margin: 20px 0;
}

.SeeIt:hover {
    background-color: rgba(243, 194, 107, 0.7);
}

.readMore {
    visibility: hidden;
    position: absolute;
    padding: 5px 5px;
    font-family: Download2, Areal, sans-serif;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 2px solid #f3c26b;
}

.readMore a {
    color: #ffffff;
    text-decoration: none;
}

.readMore:hover {
    background-color: #f3c26b;
}

@media screen and (min-width: 800px) {
    .ProjectItem {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 1920px) {
    .ProjectItem {
        width: 500px;
        height: 400px;
    }

    .increase img {
        width: 100%;
        height: auto;
    }
}
