html{
    /*scroll-behavior: smooth;*/
}
@font-face {
    font-family: "PT Sans" !important;
    src: url("//fonts.googleapis.com/css?family=PT+Sans");
}

@font-face {
    font-family: "Download1";
    src: url("Files/Font/16103.otf");
}

@font-face {
    font-family: "Download2";
    src: url("Files/Font/16761.ttf");
}

@font-face {
    font-family: "Download3";
    src: url("Files/Font/17667.otf");
}

@font-face {
    font-family: "Download4";
    src: url("Files/Font/17668.otf");
}

@font-face {
    font-family: "Download5";
    src: url("Files/Font/17728.ttf");
}


.App {
    width: 100%;
    font-family: PT Sans, Areal, sans-serif;
    color: white;
    /*background-color: #38383B;*/
}
.App:nth-child(a)