.ReactBurgerMenu {
    visibility: visible;
    position: absolute;

    font-family: sans-serif;
    height: 100vh;  /* Give app full page to work with */
    z-index: 1101;
}
.page_wrap{
    text-align: center;
    overflow: auto; /* Prevent sidebar from showing a scrollbar on page */
    z-index: 1101;
}

@media screen and (min-width: 800px) {
    .ReactBurgerMenu {
        visibility: hidden;
        position: absolute;
    }
}


/* Individual item */
.bm-item {
    display: inline-block;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
    color: #f3c26b;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 10px;
    top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #f3c26b;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #f3c26b;
}

/* General sidebar styles */
.bm-menu {
    background: #2D2E2E;
    padding: 2.5em 0 0 1.5em;
    font-size: 1.4em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    text-transform: capitalize;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
