.sectionOne {
    width: 100%;
    font-family: PT Sans, Areal, sans-serif;
    /*background-image: url('../../../Files/Images/photo-1508830524289-0adcbe822b40.jpeg');*/
    /*background-image: url(https://nour-theme.netlify.com/assets/images/icon/map_img.png);*/
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 100vh;*/
    height: auto;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sectionSix {
    /*background-image: none;*/
    background-color: #2D2E2E;
}

.borderSectionSix {
    margin: 0 10px;
    background-color: #2D2E2E;
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contactsTitleBorder {
    padding: 10px 0 10px 0;
    height: 20%;
    width: 100%;
    background-color: #2D2E2E;
    /*border: 1px solid white;*/

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contactsListBorder {
    width: 100%;
    height: 500px;
    /*background-color: dimgrey;*/

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 10px 0;
}

.sendMessageToEmailBorder {
    background-color: #2D2E2E;
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.30);
    position: relative;
}

@media screen and (min-width: 1000px) {
    .sectionOne {
        /*height: 100vh;*/
        height: auto;
    }

    .borderSectionSix {
        margin: 0 20px 20px 20px;
        height: 650px;
        width: 1400px;
        justify-content: space-around;
    }

    .contactsListBorder {
        align-items: center;
        width: 45%;
        height: 70%;
    }

    .sendMessageToEmailBorder {
        width: 50%;
        height: 70%;
    }
}

@media screen and (min-width: 1920px) {
    .sectionOne {
        /*height: 100vh;*/
        height: auto;
    }

    .borderSectionSix {
        margin: 70px 20px 20px 20px;
        height: 800px;
        width: 1700px;
        justify-content: space-around;
    }

    .contactsListBorder {
        width: 40%;
        height: 70%;
    }

    .sendMessageToEmailBorder {
        width: 50%;
        height: 60%;
    }
}