.contactsList {
    align-items: center;
    padding: 20px 15px;
    /*background-color: mediumslateblue;*/
    margin: 0 0 10px 0;
    z-index: 1000;
}

.contactsList span {
    color: #f3c26b;
    font-size: 1em;
    font-family: Download1, Areal, sans-serif;
    margin: 0 0 10px 0;
}

.Information {
    font-family: 'Noto Sans', Areal, sans-serif;
}
.Information a{
    color: #ffffff;
    text-decoration: none;
}
.Information a:hover{
    color: #f3c26b;
}


@media screen and (max-width: 508px) {

}

@media screen and (min-width: 414px) and (max-width: 750px) {

}

@media screen and (min-width: 550px) and (max-width: 799px) {

}

@media screen and (min-width: 800px) {
    .contactsList{
        padding: 20px 30px;
    }
}

@media screen and (min-width: 1920px) {

}
